* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Regular_M";
  max-width: 1600px;
  margin: auto;
  width: 100%;
}
@font-face {
  font-family: "Bold_M";
  src: url("/src/assets/Fonts/Outfit/static/Outfit-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "SemiBold_M";
  src: url("/src/assets/Fonts/Outfit/static/Outfit-SemiBold.ttf")
    format("truetype");
}
@font-face {
  font-family: "Medium_M";
  src: url("/src/assets/Fonts/Outfit/static/Outfit-Medium.ttf")
    format("truetype");
}
@font-face {
  font-family: "Regular_M";
  src: url("/src/assets/Fonts/Outfit/static/Outfit-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "Light_M";
  src: url("/src/assets/Fonts/Outfit/static/Outfit-Light.ttf")
    format("truetype");
}
#root {
  width: 100%;
}
body .MuiTypography-root {
  margin: 0px;
  padding: 0px;
}
:root {
  --primary: #465fff;
  --secondary: #ecf3ff;
  --text-primary: #1d2939;
  --text-secondary: #8d9394;
  --border: #d0d5dd;
  --border-light: #d0d5dd71;
  --primary-dark: #161950;
  --text-secondary-dark: #98a2b3;
  --background: #f9fafb;
  --backgroundInner: #f2f4f7;
  --error: #d92d20;
  --error-light: #fef3f2;
  --success: #038a55;
  --success-light: #ecfdf3;
  --white: #fff;
  --black: #000;
}

/* Scroll Bar Color Change */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(194, 193, 193);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  opacity: 0.5;
}
/* Tooltip  5*/
.MuiTooltip-popper {
  z-index: 9999999999 !important;
}
/* Input Arrow Hide  */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
/* 6 */
.MuiPopper-root {
  z-index: 999999 !important;
}
/* 8 */
.Toastify__toast-container {
  position: relative;
  z-index: 99999999 !important;
}

/* Loader  */
.splash-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  z-index: 1300;
}
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
  color: var(--primary);
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
.goog-logo-link,
.goog-te-gadget span,
.goog-te-banner-frame,
.goog-te-balloon-frame {
  display: none !important;
}

.goog-te-gadget {
  font-size: 0; /* hides "Powered by Google Translate" */
}
.google_translate_element {
  position: relative;
}
.goog-te-gadget-simple {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999;
  border: none !important;
  img {
    display: none !important;
  }
}
#google_translate_element select {
  padding: 6px 8px;
  border-radius: 6px;
  border: 1px solid var(--border);
  font-size: 13px;
  font-family: Regular_M;
}
body {
  top: 0px !important;
}
body iframe:first-child {
  height: 0px !important;
  position: absolute !important;
}
